<div class="ui container">
  <div class="ui segment">
    <h2 class="ui header">Math Addition Game</h2>
    <form [formGroup]="gameForm" (ngSubmit)="checkAnswer()" class="ui form">
      <div class="ui field">
        <label>{{ currentQuestion }}</label>
        <input sui-input type="number" formControlName="answer" (keydown.enter)="checkAnswer()"/>
      </div>
      <button class="ui primary button" type="submit" [disabled]="gameForm.untouched">Submit</button>
    </form>
  </div>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">Correct Attempts:</div>
        <div class="description">
          {{ correctCount }}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Incorrect Attempts:</div>
        <div class="description">
          {{ incorrectCount }}
        </div>
      </div>
    </div>

  </div>
</div>
